/* link fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    width: 100%;
    background: #eef2f3;
}
#navbar .container{
    width: 1022px;
    padding: 20px 35px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2C5364;
   
    
}
.container .links ul li{
    list-style: none;
}
.container .links ul{
    display: flex;
    gap: 33px;
}
.container .links ul li a{
    text-decoration: none;
    display: inline-block;
    font-family: "Quicksand", serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #000000;
    color: #FFFFFF;
    transition: .3s ease-in-out;

}
.container .icon {
    display: flex;
    gap: 23px;
    

}
.container .icon i{
    font-size: 17px;
    color: #FFFFFF;
    cursor: pointer;
    transition: .2s linear;
}


.container .links ul li a:hover{
    border-bottom: 1px solid #FBB03B;
    transform: scale(1.08);
}

.container .icon i:hover{
    border: 1px solid #FBB03B;
    border-radius: 50%;
    padding: 10px;
}

/* nav end */

/* banner */
#banner{
    position: relative;
    background: #eef2f3;
}
.container2{
    width: 1022px;
    padding: 20px 35px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#FBB03B;

}

.text h1{
    max-width: 424px;
    font-size: 68px;
    font-family: "Belleza", serif;
    font-weight: 400;
    margin-top: 58px;
    margin-bottom: 37px;
    color: #FFFFFF;

}
.text a{
    text-decoration: none;
    width: 127px;
    height: 37px;
    background: #010101;
    font-family: "Quicksand", serif;
    padding: 10px 31px;
    border-radius: 27px;
    color: #FFFFFF;
    transition: .3s ease;
}
.text .para1{
    width: 290px;
    font-family: "Quicksand", serif;
    font-weight: 400;
    font-size: 24px;
    color: #eef2f3;
    margin-top: 61px;
    margin-bottom: 16px;
}

.text .para2{
    width: 254px;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 31px;
}

.text .brands{
    display: flex;
    gap: 64px;
}


.text a:hover{
    background: rgb(14, 151, 205);
    letter-spacing: 1px;
    box-shadow: 4px 4px 4px gray;
}
/* end banner */


/* banner pic */
.container2 .pic{
    position: absolute;
    top: 0;
    right: 0;
}

/* end banner */